.title {
  display: flex;
  font-weight: 500;
  color: var(--text-primary);
  margin-top: 12px;
}

.textContent {
  margin-top: 12px;
  color: var(--text-primary);
}

.wrapper {
  display: flex;
  flex-direction: column;
  iframe {
    margin-top: 24px;
    border: none;
  }
}
