.wrapper {
  position: relative;
  width: 100%;
}

.badge {
  position: absolute;
  right: 0;
  top: -10px;
  padding: 0 5px;
  font-size: 12px;
  line-height: 20px;
  border-radius: 12px;
  background: var(--surface-accent);
  color: var(--text-constant);
}
