@import '@/app/mixins';

.wrapper {
  width: calc(100vw - var(--removed-body-scroll-bar-size));
  margin: 32px 0;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  @include breakpoint-to(720px) {
    margin-top: 24px;
  }
}

.content {
  width: 100%;
  max-width: 820px;
  display: flex;
  flex-direction: column;
  min-height: 640px;
  padding: 0 20px;
  position: relative;
  @include breakpoint-to(1024px) {
    grid-template-columns: 1fr;
    padding: 0;
  }
}

.titles {
  display: flex;
  flex-direction: column;
  //height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.h1 {
  @include h1;
}

.h2 {
  @include h2;
}
