@import "@/app/mixins";

.wrapper{
  width: calc(100vw - var(--removed-body-scroll-bar-size));
  margin: 32px 0;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

.content{
  width: 100%;
  max-width: 820px;
  display: flex;
  flex-direction: column;
  min-height: 640px;
  padding: 0 20px;
  position: relative;
  @include breakpoint-to(1024px){
    grid-template-columns: 1fr;
    padding: 0;
  }
}

.titles{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.h1{
  font-weight: 700;
  color: var(--text-primary);
  line-height: 42px;
  font-size: 40px;
  text-align: center;
  white-space: pre-line;
  @include breakpoint-to(720px){
    font-size: 32px;
    line-height: 40px;
  }
  @include breakpoint-to(480px){
    font-size: 28px;
    line-height: 32px;
  }
}

.h2{
  color: var(--text-secondary);
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  margin-top: 24px;
  text-align: center;
  white-space: pre-line;
  @include breakpoint-to(720px){
    font-size: 18px;
    line-height: 24px;
  }
  @include breakpoint-to(480px){
    font-size: 18px;
    line-height: 24px;
  }
}
