@import '@/app/mixins';

.Root {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-top: 32px;
}

.triggers {
  display: flex;
  align-items: center;
  padding: 4px;
  background: var(--surface-secondary);
  border-radius: 12px;

  &__button {
    border: none;
    background: transparent;
    color: var(--text-primary);
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    border-radius: 8px;
    cursor: pointer;
    &[data-state='active'] {
      background: var(--surface-primary);
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
    }
    transition: background-color 0.2s linear;

    &.soon {
      position: relative;
      &:after {
        position: absolute;
        right: -15px;
        top: -18px;
        width: 53px;
        height: 34px;
        content: '';
        background: url('/icons/Badge.svg');
      }
    }
  }
}

.content {
  width: 100%;
  margin-top: 24px;
  height: 100%;
}
