@import '@/app/mixins';

.title{
  margin-top: 30px;
  font-weight: 700;
  color: var(--text-primary);
  font-size: 32px;
  white-space: pre-line;
  text-align: center;
  @include breakpoint-to(720px){
    font-size: 28px;
  }
}

.accordion{
  display: flex;
  flex-direction: column;
  text-align: center;
  @include breakpoint-to(720px){
    text-align: left;
  }
  &__item{
    margin-top: 16px;

    &_title{
      background: none;
      border: none;
      cursor: pointer;
      color: var(--text-primary);
      font-size: 20px;
      line-height: 24px;
      font-weight: 500;
      text-align: left;
      white-space: pre-line;
      @include breakpoint-to(720px){
        font-size: 18px;
        line-height: 20px;
      }
    }
    &_answer{
      font-size: 16px;
      margin-top: 10px;
      color: var(--text-secondary);
      line-height: 20px;
      font-weight: 500;
      white-space: pre-line;
      text-align: center;
      z-index: 5;
      position: relative;
      @include breakpoint-to(720px){
        text-align: left;
      }

      &[data-state="open"] {
        animation: slideDown .3s linear;
      }
      &[data-state="closed"] {
        animation: slideUp .3s linear;
      }
    }
  }
}

@keyframes slideDown {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}
