:root {
  --surface-primary: #ffffff;
  --surface-secondary: #f7f7f7;
  --surface-tertiary: #f4f5f7;
  --surface-accent: #5a37f8;
  --surface-accentSubdued: #ddd5ff;
  --surface-positive: #4ac74a;
  --surface-positiveSubdued: #e3fee3;
  --surface-warning: #ffa000;
  --surface-warningSubdued: #ffeec9;
  --surface-negative: #f73f51;
  --surface-negativeSubdued: #ffdcdf;
  --surface-input: #F2F3F5;

  --text-primary: #222222;
  --text-secondary: #727b85;
  --text-tertiary: #99a2ad;
  --text-constant: #ffffff;
  --text-accent: #4820f8;
  --text-positive: #4ac74a;
  --text-warning: #ffa000;
  --text-negative: #f73f51;

  --stroke-primary: #e1e3e6;
  --stroke-accent: #4820F8;
  --stroke-secondary: #EBEDF0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
  height: 100%;
  max-width: 100vw;
  &::-webkit-scrollbar{
    width: 4px;
  }
  &::-webkit-scrollbar-track{
    background: transparent; /* Цвет фона трека скроллбара */
    border-radius: 8px;
  }
  &::-webkit-scrollbar-thumb{
    background-color: var(--surface-accent); /* Цвет ползунка скроллбара */
    border-radius: 8px;
    cursor: pointer;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--gilroy-font);
}

a {
  color: inherit;
  text-decoration: none;
}

@mixin breakpoint-to($width) {
  @media screen and (max-width: ($width - 1)) {
    @content;
  }
}
