@import '@/app/mixins';

.header {
  display: flex;
  width: calc(100vw - var(--removed-body-scroll-bar-size));
  height: max-content;
  z-index: 100;
  background: transparent;
  align-items: center;
  justify-content: center;
  padding: 32px 0;
  @include breakpoint-to(720px) {
    padding: 24px 0;
  }
}

.logo {
  display: flex;
  position: relative;
  width: 80px;
  height: 40px;
}
